extends layout

block content
form(name="Options",method='get')
    div.input
        h1 = title
        input(type="submit", value="Analyze Tweets")
        input(type="submit", value="Tell us directly")